# DATABASE
DB_HOST=db
DB_PORT=5432
DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=mypassword

# BACKEND
BACKEND_PORT=8000
SUPER_ADMIN_EMAIL=admin@admin.com
SUPER_ADMIN_PASSWORD=admin123
DJANGO_SECRET_KEY=

# TRAEFIK / NETWORK
HTTP_PORT=80
TRAEFIK_DASHBOARD_PORT=8080

# BASE HOSTS (must end with .docker.localhost)
API_HOST=api.docker.localhost
WEB_HOST=web.docker.localhost
AUTH_HOST=auth.docker.localhost
ADMIN_HOST=admin.docker.localhost
ECOPONTO_HOST=ecoponto.docker.localhost

# FRONTEND
VITE_API_BASE_URL=http://${API_HOST}:${HTTP_PORT}/api/v1
VITE_WEB_URL=http://${WEB_HOST}:${HTTP_PORT}
VITE_AUTH_URL=http://${AUTH_HOST}:${HTTP_PORT}
VITE_ADMIN_URL=http://${ADMIN_HOST}:${HTTP_PORT}
VITE_ECOPONTO_URL=http://${ECOPONTO_HOST}:${HTTP_PORT}
VITE_HTTP_PORT=80

# ORS API
ORS_API_KEY=