# Virtual environment
venv/
.env/
.env.* 

# Python cache
__pycache__/
*.pyc

# Django migrations
*/migrations/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Media files
media